header {
    background-color: #609966;
}

body {
    margin: 0 auto;
    background-color: #9DC08B;
}

#wrapper {
    display: flex;
    flex-flow: column;
    justify-content:space-evenly;
}

h1 {
    text-align: center;
    margin: 1rem auto;
    font-size: 40pt; 
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    margin-top: 0;
}

p {
    width: 30vw;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
}

#buttons-div {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    margin: 4rem auto;
    width: 70%;
}

.big-button {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 10rem;
    display: inline-block;
    transition: transform 0.25s ease-out;
}

.big-button a {
    padding: 2rem;
    background-color: greenyellow;
    border-radius: 1rem;
    /* border-color: purple;
    border-width: 1rem; */
    border: 5px solid darkolivegreen;
    text-decoration: none;
    font-size: x-large;
}

.big-button:hover {
    transform: scale(1.5);
}