body {
    width: 80%;
    margin: 0 auto;
    background-color: green;
}

h1 {
    text-align: center;
    margin: 1rem auto;
}

#buttons {
    text-align: center;
    display: flex;
    flex-flow: column;
}

button {
    margin: 1rem auto;
    width: 10rem;
    height: 6rem;
    background-color: greenyellow;
    border-radius: 1rem;
    border: 5px solid darkolivegreen;
    text-decoration: none;
    font-size: x-large;
    transition: transform 0.25s ease-out;
}

button:hover {
    transform: scale(1.5);
}